<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CobaServlet</servlet-name>
        <servlet-class>servlet.CobaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRegion</servlet-name>
        <servlet-class>servlet.AddRegion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRegion</servlet-name>
        <servlet-class>servlet.EditRegion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRegion</servlet-name>
        <servlet-class>servlet.DeleteRegion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLocation</servlet-name>
        <servlet-class>LocationServlet.AddLocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditLocation</servlet-name>
        <servlet-class>LocationServlet.EditLocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteLocation</servlet-name>
        <servlet-class>LocationServlet.DeleteLocation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CobaServlet</servlet-name>
        <url-pattern>/cobaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRegion</servlet-name>
        <url-pattern>/addRegion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRegion</servlet-name>
        <url-pattern>/editRegion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRegion</servlet-name>
        <url-pattern>/deleteRegion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLocation</servlet-name>
        <url-pattern>/addLocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditLocation</servlet-name>
        <url-pattern>/editLocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteLocation</servlet-name>
        <url-pattern>/deleteLocation</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
